* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.calculadora {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.box-resultado {
    height: 60px;
    position: relative;
}

#resultado {
    color: white;
    font-size: 1.5em;
    position: absolute;
    right: 15px;
    bottom: 15px; 
}

hr {
    margin: auto;
    border-color: white(0, 0, 0, 0.1);
    border-width: 0.2px;
}


.calculadora button {
    background: transparent;
    color: white;
    font-size: 1.5em;
    width: 70px;
    height: 70px;
    border: none;
    margin: 2px 0px;
}

.calculadora button:hover {
    background-color: rgba(128, 128, 128, 0.386);
    border-radius: 10px;
}